---
import NavigationBar from '../components/ui/NavigationBar.astro'
import Main from '../components/ui/Main.astro'
import Footer from '../components/ui/Footer.astro'
import Header from '../components/blocks/head/Header.astro'
import Scriprs from '../components/scripts/LocalScripts.astro'
import '../styles/global.css'
import '@fontsource-variable/inter'
import { configData } from '../config/config'

type Props = {
	title?: string
	description?: string
	ogImage?: string
	noindex?: boolean
	classes?: string
}

const { title, description, ogImage, noindex, classes } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-animation mode-dark relative">
	<Header title={title} description={description} ogImage={ogImage} noindex={noindex} />
	<body
		class:list={[
			{ ['mode-' + `${configData.mode}`]: configData.mode },
			{ ['scroll-animation']: configData.scrollAnimations },
			{ [`${classes}`]: classes }
		]}
	>
		<NavigationBar />
		<Main>
			<slot />
		</Main>
		<Footer />
		<Scriprs />
	</body>
</html>
